%message {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
}

.success {
    @extend %message;
    background-color: rgb(128, 221, 128);
}

.warning {
    @extend %message;
    background-color: rgb(219, 185, 122);
}

.error {
    @extend %message;
    background-color: rgb(214, 114, 114);
}
